/*
	Horizons by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */
@media (min-width: 641px) and (max-width: 840px) {
  .container {
    width: 90%;
  }

  .row {
    grid-template-columns: 1fr;
    column-gap: 15px;
    row-gap: 15px;
  }

  .\31 2u,
  .\31 1u,
  .\31 0u,
  .\39 u,
  .\38 u,
  .\37 u,
  .\36 u,
  .\35 u,
  .\34 u,
  .\33 u,
  .\32 u,
  .\31 u {
    grid-column-start: auto;
    grid-column-end: span 1;
  }

  #skel-layers-wrapper {
    padding-top: 44px;
  }

  header.major {
    padding-bottom: 2em;
  }

  header h2 {
    line-height: 1.2em;
    font-size: 1.8em;
  }

  header .byline {
    padding-top: 0.5em;
    font-size: 1.1em;
  }

  /* Wrapper */

  .wrapper.style2 {
    padding: 4em 0 3em 0;
  }

  .wrapper.style3 {
    text-align: center;
  }

  .wrapper.style3 span {
    display: block;
    padding-bottom: 1em;
    line-height: 1.6em;
    text-align: center;
    font-size: 1.4em;
  }

  .wrapper.style3 .button {
    float: none;
    padding: 1.1em 3em;
  }

  /* Header */

  #logo {
    display: none;
  }

  /* Banner */

  #banner {
    padding: 0;
  }

  /* Main */

  #main {
    padding: 4em 0;
  }

  /* Footer */

  #footer section {
    margin-bottom: 3em;
  }
}
